---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/ruby/audio?api_key=API_KEY&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-hour:
      - '14991'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '11'
      ratelimit-remaining:
      - '491'
      ratelimit-limit:
      - '500'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-remaining-minute:
      - '491'
    body:
      encoding: UTF-8
      string: '[{"commentCount":0,"createdBy":"ahd","createdAt":"2024-09-10T19:16:49.376+0000","id":51234,"word":"ruby","duration":0.94,"audioType":"pronunciation","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition","attributionUrl":"https://www.wordnik.com/words/ruby","fileUrl":"https://audio.wordnik.com/54215.mp3?Expires=1725996409&Key-Pair-Id=APKAIHXX6B6C37D2VKVA&Signature=CRQjppIxookEJbxRmEKFiODkm6n94XgXYsq71Cj9Qei3nN1ds6v5~cYbKaHmbNyiEeB895xCzqgaR8jBe-1GlwMwN3gUYP~rsdKMY8z9sb1FWCk45jsdi14cAcmkHlu0kY3EpyPS7W-~v26ZK2zIim1muO3VaUZacjVtD2plSHinoRosfNgoZVjb1P9ScA9vfaq~8WMmls4BkkbaTgc5rEaCtguU55j8vzKM15uiJ5EO1WmC3IDfPMC9ekl7ej4ApGtzEZNK21EOB4T~xpSIF01lfJLp~yin~MlnyTsrZuDvetfGeavJU0LPcPQbSI0ON3HLa9YpOdcbLNLFTxqyVQ__"},{"commentCount":0,"createdBy":"macmillan","createdAt":"2024-09-10T19:16:49.381+0000","id":236224,"word":"ruby","duration":0.91,"audioType":"pronunciation","attributionText":"pronunciation
        of ruby from Macmillan Dictionary -- free online dictionary and thesaurus","description":"See
        more at https://www.macmillandictionary.com/dictionary/american/ruby","attributionUrl":"https://www.macmillandictionary.com/dictionary/american/ruby","fileUrl":"https://audio.wordnik.com/11437225.mp3?Expires=1725996409&Key-Pair-Id=APKAIHXX6B6C37D2VKVA&Signature=moHRNX5Qn9Y7E~7DRqsw57zX3AOZxcbVatyMVfFLAFA7TURlfpwmFPTKWl~F-cfGO2XbdBGpP-Yldr7c8J~PFvzLl3Oq4SARiI1iWzg1JoqF53V5kOdUrrq9GRX-Poxceu9BFMG9RiOQbR-IluGR7gAOJMTTiorX1~Jan8GO-65uVpc2pmnNKomkJ83Qnc9oaE-M8W4AGrsm369AGSMg6R4vMbux5L6on[...]
