---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/ruby/audio?api_key=API_KEY&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-minute:
      - '488'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '41'
      ratelimit-remaining:
      - '488'
      ratelimit-limit:
      - '500'
      x-ratelimit-remaining-hour:
      - '14957'
    body:
      encoding: UTF-8
      string: '[{"commentCount":0,"createdBy":"ahd","createdAt":"2024-09-07T23:40:19.603+0000","id":51234,"word":"ruby","duration":0.94,"audioType":"pronunciation","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition","attributionUrl":"https://www.wordnik.com/words/ruby","fileUrl":"https://audio.wordnik.com/54215.mp3?Expires=1725753019&Key-Pair-Id=APKAIHXX6B6C37D2VKVA&Signature=TSRX7tW57k8-SRrfU42lE1ISX-~gLSLKnMTCHRdWxMmU9T9oG4tMItROQjZxDZAFRqrsevTpXRpwU8lJMzO-kngwOrolhbcX5Vd23OHR7mzRdNUYCkxBvCaqtiEP2Eojzqzfoi7A8n7dQs6wlEnzbyyCECr7LGTcfraba6ThbMm7a0vwg7UX7O0MeN1v5q1PvtmsIHNlzYXYrt1H2WevxPiyigVxm34uEG9tRSJRaoHmnpIi-x4US2sUYgPXCH8XBuZe0PVkDrwZx7X4TF3TErgUjtotrwLIug3DYW586-DEBkbcNWXwb1K42KMjzQH6nWoPYnVNEo1k5~FUa2HHUQ__"},{"commentCount":0,"createdBy":"macmillan","createdAt":"2024-09-07T23:40:19.610+0000","id":236223,"word":"ruby","duration":1.01,"audioType":"pronunciation","attributionText":"pronunciation
        of ruby from Macmillan Dictionary -- free online dictionary and thesaurus","description":"See
        more at https://www.macmillandictionary.com/dictionary/american/ruby","attributionUrl":"https://www.macmillandictionary.com/dictionary/american/ruby","fileUrl":"https://audio.wordnik.com/11437224.mp3?Expires=1725753019&Key-Pair-Id=APKAIHXX6B6C37D2VKVA&Signature=G5Nk8eiWJfqJPexOHNYdW0bjGTl2Zfj-FTNzmM-s1pKyEuBN~hNc5R~dxtXhe0xjHgxb0MkTqCwYRx9zSKq2jndluz5pJyp9Us3cPJ80XkNzB8LJf1Ows3XfkR0VuUxXQ-nTzcB5dvFBKVdd8MPFatBTTkjXFS3sWcKZOm~wdAQY-N0LQSbdfLCUIJbUqQS5Ldu8ptMxLW9P~QdMiRl~ypzJIWxmPBdxq[...]
