---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/ruby/definitions?api_key=API_KEY&limit=200&sourceDictionaries=ahd-5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-hour:
      - '14998'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '15'
      ratelimit-remaining:
      - '498'
      ratelimit-limit:
      - '500'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-remaining-minute:
      - '498'
    body:
      encoding: UTF-8
      string: '[{"id":"R5365500-1","partOfSpeech":"noun","attributionText":"from The
        American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"A
        deep red, translucent variety of the mineral corundum, highly valued as a
        precious stone.","sequence":"1","score":0,"word":"ruby","attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/ruby","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"id":"R5365500-2","partOfSpeech":"noun","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"Something,
        such as a watch bearing, that is made from a ruby.","sequence":"2","score":0,"word":"ruby","attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/ruby","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"id":"R5365500-3","partOfSpeech":"noun","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"A
        dark or deep red to deep purplish red.","sequence":"3","score":0,"word":"ruby","attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/ruby","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"id":"R5365500-4","partOfSpeech":"adjective","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"Of
        the color ruby.","sequence":"4","score":0,"word":"ruby","attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/ruby","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]}]'
  recorded_at: Tue, 10 Sep 2024 19:16:45 GMT
recorded_with: VCR 6.3.1
