---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/fish/definitions?api_key=API_KEY&partOfSpeech=noun
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-minute:
      - '499'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '30'
      ratelimit-remaining:
      - '499'
      ratelimit-limit:
      - '500'
      x-ratelimit-remaining-hour:
      - '14990'
    body:
      encoding: UTF-8
      string: '[{"id":"F5147800-1","partOfSpeech":"noun","attributionText":"from The
        American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"Any
        of numerous cold-blooded aquatic vertebrates characteristically having fins,
        gills, and a streamlined body and including the bony fishes, such as catfishes
        and tunas, and the cartilaginous fishes, such as sharks and rays.","sequence":"1","score":0,"word":"fish","attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/fish","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"id":"F5147800-2","partOfSpeech":"noun","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"Any
        of various jawless aquatic craniates, including the lampreys and hagfishes.","sequence":"2","score":0,"word":"fish","attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/fish","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"id":"F5147800-3","partOfSpeech":"noun","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"The
        flesh of such animals used as food.","sequence":"3","score":0,"word":"fish","attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/fish","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"id":"F5147800-4","partOfSpeech":"noun","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"A
        person, especially one considered deficient in something.","sequence":"4","score":0,"labels":[{"text":"Informal","type":"fld"}],"word":"fish","exampleUses":[{"text":"a
        poor fish."}],"attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/fish","citations":[],"notes":[],"relatedWords":[],"textProns":[]},{"partOfSpeech":"noun","attributionText":"from
        The Century Dictionary.","sourceDictionary":"century","text":"A counter used
        in various games.","word":"fish","attributionUrl":"https://www.wordnik.com/colophon#century/","wordnikUrl":"https://www.wordnik.com/wor[...]
