---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/set/definitions?api_key=API_KEY&limit=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-minute:
      - '497'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '46'
      ratelimit-remaining:
      - '497'
      ratelimit-limit:
      - '500'
      x-ratelimit-remaining-hour:
      - '14966'
    body:
      encoding: UTF-8
      string: '[{"id":"S5312700-1","partOfSpeech":"noun","attributionText":"from The
        American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"A
        group of things of the same kind that belong together and are so used.","sequence":"1","score":0,"word":"set","exampleUses":[{"text":"a
        chess set."}],"attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/set","citations":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"id":"S5312700-2","partOfSpeech":"noun","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"A
        group of persons sharing a common interest.","sequence":"2","score":0,"word":"set","exampleUses":[{"text":"the
        high-school set."}],"attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/set","citations":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"id":"S5312700-3","partOfSpeech":"noun","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition.","sourceDictionary":"ahd-5","text":"A
        group of books or periodicals published as a unit.","sequence":"3","score":0,"word":"set","attributionUrl":"https://ahdictionary.com/","wordnikUrl":"https://www.wordnik.com/words/set","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]}]'
  recorded_at: Sat, 07 Sep 2024 23:40:14 GMT
recorded_with: VCR 6.3.1
