---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/ruby/definitions?api_key=API_KEY&sourceDictionaries=wiktionary
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-minute:
      - '499'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '43'
      ratelimit-remaining:
      - '499'
      ratelimit-limit:
      - '500'
      x-ratelimit-remaining-hour:
      - '14989'
    body:
      encoding: UTF-8
      string: '[{"partOfSpeech":"noun","attributionText":"from Wiktionary, Creative
        Commons Attribution/Share-Alike License.","sourceDictionary":"wiktionary","text":"A
        clear, deep, <xref>red</xref> variety of <xref>corundum</xref>, valued as
        a precious stone.","word":"ruby","attributionUrl":"http://creativecommons.org/licenses/by-sa/3.0/","wordnikUrl":"https://www.wordnik.com/words/ruby","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"partOfSpeech":"noun","attributionText":"from
        Wiktionary, Creative Commons Attribution/Share-Alike License.","sourceDictionary":"wiktionary","text":"A
        deep <xref>red</xref> <xref>colour</xref>.","word":"ruby","attributionUrl":"http://creativecommons.org/licenses/by-sa/3.0/","wordnikUrl":"https://www.wordnik.com/words/ruby","citations":[],"exampleUses":[],"labels":[],"notes":[],"relatedWords":[],"textProns":[]},{"partOfSpeech":"noun","attributionText":"from
        Wiktionary, Creative Commons Attribution/Share-Alike License.","sourceDictionary":"wiktionary","text":"Type
        having a height of 5.5 <xref>points</xref>.","labels":[{"text":"typography","type":"field"},{"text":"UK","type":"region"}],"word":"ruby","attributionUrl":"http://creativecommons.org/licenses/by-sa/3.0/","wordnikUrl":"https://www.wordnik.com/words/ruby","citations":[],"exampleUses":[],"notes":[],"relatedWords":[],"textProns":[]},{"partOfSpeech":"noun","attributionText":"from
        Wiktionary, Creative Commons Attribution/Share-Alike License.","sourceDictionary":"wiktionary","text":"A
        ruby hummer, a South American <xref>hummingbird</xref>, Clytolaema rubricauda.","word[...]
