---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/ruby/examples?api_key=API_KEY&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-hour:
      - '14997'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '14'
      ratelimit-remaining:
      - '497'
      ratelimit-limit:
      - '500'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-remaining-minute:
      - '497'
    body:
      encoding: UTF-8
      string: '{"examples":[{"provider":{"id":712},"year":2009,"rating":585.8301,"url":"http://a3li.li/2009/12/ruby-the-next-generation","word":"ruby","text":"I
        think he covered the motivation and implementation details of what we call
        ruby-ng. eclass pretty well, so I''ll try to give a little end-user info.","documentId":21365504,"exampleId":468377826,"title":"Planet
        Gentoo"},{"provider":{"id":711},"year":2009,"rating":444,"url":"http://poetrydispatch.wordpress.com/2009/04/10/norbert-blei-six-found-poems-in-the-words-and-paintings-of-andrew-wyeth/","word":"ruby","text":"If
        ‘going-to-church’ had any meaning and effect upon me as a child, it was the
        glitter of gold and silver chalices; the sheen of sacred vestments, vigil
        candles flickering in ruby light; stained glass windows romancing the morning
        and evening li[...]
