---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/ruby/phrases?api_key=API_KEY&limit=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-minute:
      - '490'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '43'
      ratelimit-remaining:
      - '490'
      ratelimit-limit:
      - '500'
      x-ratelimit-remaining-hour:
      - '14959'
    body:
      encoding: UTF-8
      string: '[{"count":7,"gram1":"ruby","gram2":"red","mi":12.83407129011852,"wlmi":15.641426212176123},{"count":1,"gram1":"know","gram2":"ruby","mi":4.36541070099619,"wlmi":4.36541070099619},{"count":2,"gram1":"the","gram2":"ruby","mi":1.798656547266674,"wlmi":2.798656547266674},{"count":1,"gram1":"is","gram2":"ruby","mi":2.5417556916160144,"wlmi":2.5417556916160144}]'
  recorded_at: Sat, 07 Sep 2024 23:40:17 GMT
recorded_with: VCR 6.3.1
