---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/ruby/pronunciations?api_key=API_KEY&limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-minute:
      - '492'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '44'
      ratelimit-remaining:
      - '492'
      ratelimit-limit:
      - '500'
      x-ratelimit-remaining-hour:
      - '14961'
    body:
      encoding: UTF-8
      string: '[{"seq":0,"raw":"roo͞′bē","rawType":"ahd-5","id":"R5365500","attributionText":"from
        The American Heritage® Dictionary of the English Language, 5th Edition.","attributionUrl":"https://ahdictionary.com/"}]'
  recorded_at: Sat, 07 Sep 2024 23:40:16 GMT
recorded_with: VCR 6.3.1
