---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/word.json/ruby/topExample?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-minute:
      - '496'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '45'
      ratelimit-remaining:
      - '496'
      ratelimit-limit:
      - '500'
      x-ratelimit-remaining-hour:
      - '14965'
    body:
      encoding: UTF-8
      string: '{"provider":{"id":712},"year":2009,"rating":585.8301,"url":"http://a3li.li/2009/12/ruby-the-next-generation","word":"ruby","text":"I
        think he covered the motivation and implementation details of what we call
        ruby-ng. eclass pretty well, so I''ll try to give a little end-user info.","documentId":21365504,"exampleId":468377826,"title":"Planet
        Gentoo"}'
  recorded_at: Sat, 07 Sep 2024 23:40:15 GMT
recorded_with: VCR 6.3.1
