---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/words.json/wordOfTheDay?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-hour:
      - '14999'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '16'
      ratelimit-remaining:
      - '499'
      ratelimit-limit:
      - '500'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-remaining-minute:
      - '499'
    body:
      encoding: UTF-8
      string: '{"_id":"66d34cd910816e928365f9db","word":"conte","publishDate":"2024-09-10T02:00:00.000Z","contentProvider":{"name":"wordnik","id":711},"note":"‘Conte’
        comes from the Old French ‘conter,’ to relate, recount.","htmlExtra":null,"pdd":"2024-09-10","definitions":[{"text":"A
        short narrative or tale, esp. one dealing with surprising or marvelous events.","partOfSpeech":"noun","source":"gcide","note":null}],"examples":[{"url":"http://books.google.com/books?id=T1QqAAAAMAAJ&dq=conte%20medieval%20tale&as_brr=4&pg=PA124#v=onepage&q=conte&f=false","text":"Merimee''s
        compactness consists rather in reducing to a nouvelle most writers would have
        made a roman than in focusing on a single situation in a conte.","title":"Charles
        Sears Baldwin, Essays Out of Hours","id":0},{"url":"http://books.google.com/books?id=m1owAQAAMAAJ&dq=conte%20medieval%20tale&as_brr=4&pg=PA486#v=onepage&q=conte&f=false","text":"The
        modern short story - as distinguished from the old conte and also from that
        quite insignificant kind of brief lovetale which flourished in crude American
        miscellanies before 1850 and came to its height of conspicuous immaturity
        in T.S. Arthur''s stories - owed its existence to that artistic impulse which
        had reshaped the novel, not only bringing all its parts into harmony with
        a central motive but, in every part, working from within outward, for living
        growth rather than for accretion, substituting expansion and radiant illumination
        for mere extension.","title":"Harper''s Magazine (1908-1909)","id":0},{"url":"http://news.google.com/newspapers?id=4eZaAAAAIBAJ&sjid=PJIDAAAAIBAJ&dq=conte%20medieval%20tale&pg=6927%2C2582870","text":"The
        third conte, evocative ode contrasting golden beauty and horror, is an almost
        wordless sensuous fable about the original Hungarian vampires of the 17th
        century.","title":"''Four collectors'' items from a Polish master of erotica,''
        The Age, August 18, 1975","id":0}]}'
  recorded_at: Tue, 10 Sep 2024 19:16:44 GMT
recorded_with: VCR 6.3.1
