---
http_interactions:
- request:
    method: get
    uri: https://api.wordnik.com/v4/words.json/wordOfTheDay?api_key=API_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      x-ratelimit-remaining-hour:
      - '14957'
      x-ratelimit-limit-hour:
      - '15000'
      ratelimit-reset:
      - '48'
      ratelimit-remaining:
      - '499'
      ratelimit-limit:
      - '500'
      x-ratelimit-limit-minute:
      - '500'
      x-ratelimit-remaining-minute:
      - '499'
    body:
      encoding: UTF-8
      string: '{"_id":"66d34cd910816e928365f9f4","word":"palter","publishDate":"2024-09-07T03:00:00.000Z","contentProvider":{"name":"wordnik","id":711},"note":"The
        word ''palter'' is probably from a German word meaning \"rag, trifle, worthless
        thing\".","htmlExtra":null,"pdd":"2024-09-07","definitions":[{"text":"To haggle.","partOfSpeech":"verb","source":"gcide","note":null},{"text":"To
        act in insincere or deceitful manner; to play false; to equivocate; to shift;
        to dodge; to trifle.","partOfSpeech":"verb","source":"gcide","note":null},{"text":"To
        babble; to chatter.","partOfSpeech":"verb","source":"gcide","note":null},{"text":"To
        trifle with; to waste; to squander in paltry ways or on worthless things.","partOfSpeech":"verb","source":"gcide","note":null}],"examples":[{"url":"http://etext.library.adelaide.edu.au/s/scott/walter/talisman/complete.html","text":"“But,”
        continued the baron anxiously, “what hope that this juggling slave of Saladin
        will not palter with your Grace?”","title":"The Talisman","id":1090489205},{"url":"http://etext.library.adelaide.edu.au/s/scott/walter/nigel/complete.html","text":"“How,
        or what do you mean?” said Nigel; “I will break your head, you drunken knave,
        if you palter with me any longer.”","title":"The Fortunes of Nigel","id":1091224902},{"url":"http://etext.library.adelaide.edu.au/t/trollope/anthony/ayala/complete.html","text":"Do
        not think that you should palter with the truth either because it may not
        be palat[...]
